@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto;
}

:root {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(
    90deg,
    rgb(17, 17, 92) 0%,
    rgb(7, 7, 70) 0%,
    rgba(2, 0, 36, 1) 100%,
    #1e1489e1 50%
  );

  ::-webkit-scrollbar {
    width: 6px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    background: #0e0e37;
  }

  ::-webkit-scrollbar-thumb {
    background: #3c4bdc;
    border-radius: 20px;
    width: 1px;
  }
}

@layer utilities {
  .navbar {
    position: sticky;
    position: -webkit-sticky;
    /* background: #0e0e37; */
    background: linear-gradient(
      90deg,
      rgb(17, 17, 92) 0%,
      rgb(7, 7, 70) 0%,
      rgba(2, 0, 36, 1) 100%,
      rgba(30, 20, 137, 0.881) 50%
    );
    top: -1px;
    height: 100%;
  }
  .bg_navbar_gradient {
    background: linear-gradient(
      90deg,
      rgba(115, 59, 156, 1) 0%,
      rgba(115, 59, 156, 1) 0%,
      rgba(46, 67, 194, 1) 100%
    );
    filter: blur(200px);
  }
  .bg_location_left {
    background: linear-gradient(
      90deg,
      rgba(115, 59, 156, 1) 0%,
      rgba(115, 59, 156, 1) 0%,
      rgba(46, 67, 194, 1) 100%
    );
    filter: blur(300px);
  }
  .bg_gradient_main_left {
    background: rgba(16, 74, 242, 1);
    filter: blur(230px);
  }
  .bg_gradient_location_right {
    background: rgba(16, 74, 242, 1);
    filter: blur(300px);
  }
  .bg_gradient_main_right {
    background: rgba(16, 74, 242, 1);
    /* filter: blur(150px); */
  }
  .bg_gradient_portfolio {
    background: rgba(16, 74, 242, 1);
    filter: blur(800px);
  }
}
